.Registform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: rgba(146, 196, 219, 0.878) ;
    padding: 20px;
    border-radius: 20px;
    position: relative;

    top: 20px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the div take up the full height of the viewport */
    margin: 0 auto; 
  }

  
  .Registtitle {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .Registtitle::before,.Registtitle::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .Registtitle::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .Registtitle::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .Registmessage, .Registsignin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .Registsignin {
    text-align: center;
  }
  
  .Registsignin a {
    color: royalblue;
  }
  
  .Registsignin a:hover {
    text-decoration: underline royalblue;
  }
  
  .Registflex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .Registform label {
    position: relative;
  }
  
  .Registform label .Registinput {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .Registform label .Registinput + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .Registform label .Registinput:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .Registform label .Registinput:focus + span,.Registform label .Registinput:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .Registform label .Registinput:valid + span {
    color: rgb(0, 116, 154);
  }
  
  .Registsubmit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .Registsubmit:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  .signupBtn {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 9px;
    color: white;
    background: linear-gradient(to right,rgb(84, 84, 249),rgb(147, 128, 255));
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
  }
  
  .arrow {
    position: absolute;
    right: 7.5px;
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .signupBtn:hover .arrow {
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }